In [ ]:
import matplotlib.pyplot as plot
import pandas as pd

file = pd.read_csv('Total_Population.csv')

file

,Label (Grouping),"Langley Park CDP, Maryland!!Estimate","Langley Park CDP, Maryland!!Margin of Error"
0,Total:,"19,391","±1,923"
1,Native:,"7,439",±974
2,Born in state of residence,"4,270",±867
3,Born in other state in the United States:,"2,929",±503
4,Northeast,490,±274
5,Midwest,144,±113
6,South,"2,193",±421
7,West,102,±85
8,Born outside the United States:,240,±135
9,Puerto Rico,35,±56
10,U.S. Island Areas,0,±20
11,Born abroad of American parent(s),205,±123
12,Foreign born:,"11,952","±1,281"
13,Naturalized U.S. citizen,"1,835",±355
14,Europe,6,±14
15,Asia,84,±58
16,Africa,359,±178
17,Oceania,0,±20
18,Latin America,"1,386",±308
19,Northern America,0,±20
20,Not a U.S. citizen,"10,117","±1,164"
21,Europe,54,±58
22,Asia,115,±85
23,Africa,621,±619
24,Oceania,0,±20
25,Latin America,"9,327","±1,047"
26,Northern America,0,±20

# New Section

In [ ]:
new_file = pd.read_csv('Other_Pop.csv')
new_file

,Label (Grouping),"Langley Park CDP, Maryland!!Total!!Estimate","Langley Park CDP, Maryland!!Total!!Margin of Error","Langley Park CDP, Maryland!!Percent!!Estimate","Langley Park CDP, Maryland!!Percent!!Margin of Error","Langley Park CDP, Maryland!!Male!!Estimate","Langley Park CDP, Maryland!!Male!!Margin of Error","Langley Park CDP, Maryland!!Percent Male!!Estimate","Langley Park CDP, Maryland!!Percent Male!!Margin of Error","Langley Park CDP, Maryland!!Female!!Estimate","Langley Park CDP, Maryland!!Female!!Margin of Error","Langley Park CDP, Maryland!!Percent Female!!Estimate","Langley Park CDP, Maryland!!Percent Female!!Margin of Error"
0,Total population,"19,391","±1,923",(X),(X),"11,149","±1,165",(X),(X),"8,242",±964,(X),(X)
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 5 years,"2,507",±515,12.9%,±2.0,"1,230",±280,11.0%,±2.1,"1,277",±388,15.5%,±3.8
3,5 to 9 years,"2,182",±495,11.3%,±1.9,"1,217",±333,10.9%,±2.3,965,±293,11.7%,±3.0
4,10 to 14 years,"1,141",±314,5.9%,±1.5,492,±149,4.4%,±1.4,649,±260,7.9%,±2.9
5,15 to 19 years,956,±292,4.9%,±1.4,478,±239,4.3%,±2.1,478,±190,5.8%,±2.1
6,20 to 24 years,"1,201",±265,6.2%,±1.3,793,±211,7.1%,±1.8,408,±132,5.0%,±1.5
7,25 to 29 years,"1,508",±295,7.8%,±1.5,849,±194,7.6%,±1.7,659,±170,8.0%,±2.2
8,30 to 34 years,"2,410",±553,12.4%,±2.3,"1,468",±360,13.2%,±2.6,942,±274,11.4%,±2.9
9,35 to 39 years,"1,943",±381,10.0%,±1.7,"1,448",±344,13.0%,±2.6,495,±159,6.0%,±2.0
10,40 to 44 years,"1,237",±363,6.4%,±1.8,579,±202,5.2%,±1.8,658,±295,8.0%,±3.3
11,45 to 49 years,"1,180",±303,6.1%,±1.5,829,±238,7.4%,±2.2,351,±137,4.3%,±1.6
12,50 to 54 years,850,±233,4.4%,±1.2,626,±194,5.6%,±1.8,224,±106,2.7%,±1.3
13,55 to 59 years,733,±258,3.8%,±1.3,490,±228,4.4%,±2.0,243,±101,2.9%,±1.3
14,60 to 64 years,630,±206,3.2%,±1.0,306,±128,2.7%,±1.2,324,±123,3.9%,±1.5
15,65 to 69 years,387,±130,2.0%,±0.8,109,±73,1.0%,±0.7,278,±101,3.4%,±1.3
16,70 to 74 years,247,±126,1.3%,±0.7,100,±64,0.9%,±0.6,147,±109,1.8%,±1.4
17,75 to 79 years,153,±88,0.8%,±0.5,110,±78,1.0%,±0.7,43,±42,0.5%,±0.5
18,80 to 84 years,61,±32,0.3%,±0.2,17,±21,0.2%,±0.2,44,±28,0.5%,±0.3
19,85 years and over,65,±54,0.3%,±0.3,8,±12,0.1%,±0.1,57,±53,0.7%,±0.7
20,SELECTED AGE CATEGORIES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,5 to 14 years,"3,323",±617,17.1%,±2.3,"1,709",±357,15.3%,±2.4,"1,614",±386,19.6%,±3.5
22,15 to 17 years,493,±201,2.5%,±1.0,143,±100,1.3%,±0.9,350,±169,4.2%,±1.8
23,Under 18 years,"6,323","±1,014",32.6%,±2.9,"3,082",±530,27.6%,±3.0,"3,241",±690,39.3%,±4.9
24,18 to 24 years,"1,664",±327,8.6%,±1.6,"1,128",±279,10.1%,±2.3,536,±157,6.5%,±1.8
25,15 to 44 years,"9,255","±1,069",47.7%,±2.4,"5,615",±742,50.4%,±3.3,"3,640",±494,44.2%,±3.5
26,16 years and over,"13,424","±1,197",69.2%,±2.8,"8,174",±819,73.3%,±3.0,"5,250",±551,63.7%,±4.8
27,18 years and over,"13,068","±1,154",67.4%,±2.9,"8,067",±807,72.4%,±3.0,"5,001",±493,60.7%,±4.9
28,21 years and over,"12,467","±1,108",64.3%,±2.8,"7,632",±763,68.5%,±2.8,"4,835",±496,58.7%,±5.1
29,60 years and over,"1,543",±298,8.0%,±1.7,650,±160,5.8%,±1.5,893,±211,10.8%,±2.8
30,62 years and over,"1,242",±272,6.4%,±1.5,495,±136,4.4%,±1.3,747,±204,9.1%,±2.7
31,65 years and over,913,±249,4.7%,±1.4,344,±111,3.1%,±1.0,569,±197,6.9%,±2.6
32,75 years and over,279,±107,1.4%,±0.6,135,±82,1.2%,±0.7,144,±73,1.7%,±0.9
33,SUMMARY INDICATORS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Median age (years),30.3,±1.0,(X),(X),31.5,±1.2,(X),(X),29.1,±3.0,(X),(X)
35,Sex ratio (males per 100 females),135.3,±13.1,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
36,Age dependency ratio,59.5,±6.9,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
37,Old-age dependency ratio,7.5,±2.3,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
38,Child dependency ratio,52.0,±6.7,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
39,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Sex,(X),(X),0.2%,(X),(X),(X),(X),(X),(X),(X),(X),(X)
41,Age,(X),(X),2.2%,(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [ ]:
list(new_file.columns)

['Label (Grouping)',
 'Langley Park CDP, Maryland!!Total!!Estimate',
 'Langley Park CDP, Maryland!!Total!!Margin of Error',
 'Langley Park CDP, Maryland!!Percent!!Estimate',
 'Langley Park CDP, Maryland!!Percent!!Margin of Error',
 'Langley Park CDP, Maryland!!Male!!Estimate',
 'Langley Park CDP, Maryland!!Male!!Margin of Error',
 'Langley Park CDP, Maryland!!Percent Male!!Estimate',
 'Langley Park CDP, Maryland!!Percent Male!!Margin of Error',
 'Langley Park CDP, Maryland!!Female!!Estimate',
 'Langley Park CDP, Maryland!!Female!!Margin of Error',
 'Langley Park CDP, Maryland!!Percent Female!!Estimate',
 'Langley Park CDP, Maryland!!Percent Female!!Margin of Error']

In [ ]:
new_file = new_file.filter(items= ['Label (Grouping)', 'Langley Park CDP, Maryland!!Total!!Estimate'] )

In [ ]:
new_file

,Label (Grouping),"Langley Park CDP, Maryland!!Total!!Estimate"
0,Total population,"19,391"
1,AGE,NaN
2,Under 5 years,"2,507"
3,5 to 9 years,"2,182"
4,10 to 14 years,"1,141"
5,15 to 19 years,956
6,20 to 24 years,"1,201"
7,25 to 29 years,"1,508"
8,30 to 34 years,"2,410"
9,35 to 39 years,"1,943"
10,40 to 44 years,"1,237"
11,45 to 49 years,"1,180"
12,50 to 54 years,850
13,55 to 59 years,733
14,60 to 64 years,630
15,65 to 69 years,387
16,70 to 74 years,247
17,75 to 79 years,153
18,80 to 84 years,61
19,85 years and over,65
20,SELECTED AGE CATEGORIES,NaN
21,5 to 14 years,"3,323"
22,15 to 17 years,493
23,Under 18 years,"6,323"
24,18 to 24 years,"1,664"
25,15 to 44 years,"9,255"
26,16 years and over,"13,424"
27,18 years and over,"13,068"
28,21 years and over,"12,467"
29,60 years and over,"1,543"
30,62 years and over,"1,242"
31,65 years and over,913
32,75 years and over,279
33,SUMMARY INDICATORS,NaN
34,Median age (years),30.3
35,Sex ratio (males per 100 females),135.3
36,Age dependency ratio,59.5
37,Old-age dependency ratio,7.5
38,Child dependency ratio,52.0
39,PERCENT ALLOCATED,NaN
40,Sex,(X)
41,Age,(X)